<div class="peers ai-s fxw-nw h-100vh">
  <div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv" style="background-image:url(../../assets/img/bg.jpg)">
    <div class="pos-a centerXY">
      <div class="bgc-white bdrs-50p pos-r" style="width:120px;height:120px">
        <img class="pos-a centerXY" src="../../assets/img/logo.png" alt="">
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r" style="min-width:320px">
    <h4 class="fw-300 c-grey-900 mB-40">Inicia sesión</h4>
    <form role="form" name="formLogin">
      <div class="form-group">
        <label class="text-normal text-dark">Correo eletrónico</label>
        <input type="email" class="form-control" placeholder="Correo eletrónico" ng-model="login.email" required>
      </div>
      <div class="form-group">
        <label class="text-normal text-dark">Contraseña</label>
        <input type="password" class="form-control" placeholder="Contraseña"  ng-model="login.password" required minlength="8">
      </div>
      <div class="form-group">
        <div class="peers ai-c jc-sb fxw-nw">
          <div class="peer">
            <div class="peers ai-c">
              <label for="inputCall1" class="peers peer-greed js-sb ai-c">
                <input type="checkbox" class="checkboxItem">
                <span class="peer peer-greed">Recordarme</span>
              </label>
            </div>
          </div>
          <div class="peer">
            <button ng-disabled="formLogin.$invalid" ng-click="login()" class="btn btn-primary">Entrar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
