*{
  margin: 0px;
  padding: 0px;
}

.padding-container{
  background: #f9fafb !important;
  display: block !important;
  padding: 10px;
  padding-top: 15px !important;
  margin-left: 13px !important;
}
